*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: cursive;
}
body{
    background-color: rgb(221, 221, 221);
}
ul{
    list-style: none;
}
.container{
    width: 100%;
    padding: 30px;
    position: absolute;
    background-color: rgb(36, 35, 35);
}
.navbar li{
    position: relative;
    padding: 20px 0;
    margin-left:10px;
    background-color: rgb(56, 56, 56);
    display: inline;
}
.navbar li a{
    display: inline-block;
    padding: 0 20px;
    color: #fff;
}
.navbar li:hover{
    background-color: rgba(160, 160, 160);
}

/* -------------------------------------------------- */
.item ul{
    display: none;
    position: relative;
}
.item ul{
    position: absolute;
    left: -13px;
    margin-top: 20px;
    width: 105px;
}
.item ul li{
    display: block;
}
.item:hover ul{
    display: block;
}
/* ------------------------ */
.item2 ul{
    position: relative;
    display: none !important;
}
.item2 ul{
    position: absolute;
    left: 85px;
    margin-top: -43px;
    width: 105px;
}
.item2 ul li{
    display: block;
}
.item2:hover ul{
    display: block !important;
}

